[Unit]
Description=Servicio Bot del alumno12.

[Install]
WantedBy=multi-user.target
After=network.service

[Service]
Type=simple
ExecStart=/usr/bin/ruby /usr/local/bin/bot12d
